body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

#kekou {
    text-align: center;
    font-family: 'seasideresortnfregular';
    font-size: 64px;
}

#nav-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    gap: 24px;
    width: 75%;
}

#image-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.cover-images {
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#headline, #desc, .menu-item{
    font-family: 'action_manregular';
    font-size: 24px;
}

.menu-item {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 50px;
}

.item-image {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.item-header {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: 'action_manregular';
    src: url('./assets/fonts/action_man-webfont.woff2') format('woff2'),
         url('./assets/fonts/action_man-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'action_manbold';
    src: url('./assets/fonts/action_man_bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/action_man_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'action_manitalic';
    src: url('./assets/fonts/action_man_italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/action_man_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'action_man_shadedregular';
    src: url('./assets/fonts/action_man_shaded-webfont.woff2') format('woff2'),
         url('./assets/fonts/action_man_shaded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seasideresortnfregular';
    src: url('./assets/fonts/seasrn__-webfont.woff2') format('woff2'),
         url('./assets/fonts/seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbold';
    src: url('./assets/fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbold_italic';
    src: url('./assets/fonts/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksanditalic';
    src: url('./assets/fonts/quicksand-italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandlight';
    src: url('./assets/fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandregular';
    src: url('./assets/fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}